#modular-card {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  margin: 0.5rem;
  color: var(--modular-text-color);
  background-color: transparent;
}

#modular-card .container-main {
  background-image: var(--modular-background);
}

#modular-card .title {
  margin: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#modular-card .header {
  margin: auto;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
  padding: 0.75rem;
}

#modular-card .container-main {
  margin-top: 0.75rem;
  border-radius: 0.125rem;
}

#modular-card .container-header {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
}

#modular-card .body {
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

#modular-card .footer {
  padding: 0.25rem;
  margin: 0.5rem;
  text-align: center;
}
