#modular-card {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  margin: 0.5rem;
  --card-text-color: rgba(0, 0, 0, 1);
  color: var(--card-text-color);
  background-color: transparent;
  --card-background: linear-gradient(to right, #fff, #eaebec);
}

#modular-card {
  --card-text-color: rgba(0, 0, 0, 1);
  --card-background: linear-gradient(to right, #fff, #eaebec);
}

#modular-card.dark {
  --card-text-color: rgb(255, 255, 255, 1);
}

#modular-card .container-main {
  --card-background: linear-gradient(to right, #fff, #eaebec);
  background-image: var(--card-background);
}

#modular-card.dark .container-main {
  --card-background: linear-gradient(to right, #2d3748, #1d232e);
}

#modular-card .title {
  margin: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#modular-card .header {
  margin: auto;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
  padding: 0.75rem;
}

#modular-card .container-main {
  margin-top: 0.75rem;
  border-radius: 0.125rem;
}

#modular-card .container-header {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
}

#modular-card .body {
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

#modular-card .footer {
  padding: 0.25rem;
  margin: 0.5rem;
  text-align: center;
}
