#modular-page {
  display: flex;
  margin: 0.5rem;
  margin-left: 0.75rem;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  color: var(--modular-text-color);
  background-image: var(--modular-background);
}

#modular-page.horizontal {
  flex-direction: row;
}

#modular-page.vertical {
  flex-direction: column;
}
