#modular-input .label {
  margin-top: 1rem;
}

#modular-input .input-box {
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  background-color: white;
  color: #423c5e;
  width: 100%;
}

#modular-input {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#modular-input.dark .input-box {
  background-color: #423c5e;
  color: #ebe5e2;
}
