#modular-drawer {
  position: fixed;
  z-index: 10;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: auto;
  padding: 0.5rem;
  background-image: var(--modular-background);
  overflow: auto;
  color: var(--modular-text-color);
}

#modular-drawer .elements {
  padding: 0.75rem;
}

#modular-drawer .close-button {
  outline: 0px solid transparent;
  outline-offset: 2px;
}

#modular-drawer .close-button:focus {
  outline: 0px solid transparent;
  outline-offset: 2px;
}

#modular-drawer .buttons-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.75rem;
}

#modular-drawer .element {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#modular-drawer .element .button {
  display: flex;
  flex-direction: row;
}

#modular-drawer .element .button .icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#modular-drawer .element .button .text {
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#modular-drawer .element .button .active {
  color: rgba(217, 119, 6, 1);
  cursor: default;
}

#modular-drawer .element .button .inactive {
  cursor: pointer;
}

#modular-drawer .element .button .inactive:hover {
  color: rgba(96, 165, 250, 1);
}

#modular-drawer .container-internal {
  display: flex;
  flex-direction: column;
}

#modular-drawer.ease-in {
  transition-timing-function: ease-in !important;
  transition: 0.2s;
  transform: translateX(0%);
}

#modular-drawer.ease-out {
  transition-timing-function: ease-out !important;
  transition: 0.2s;
  transform: translateX(-100%);
}
