#modular-drawer {
  position: fixed;
  z-index: 10;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: auto;
  padding: 0.5rem;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #374151;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(55, 65, 81, 0));
  --tw-gradient-to: #1f2937;
  overflow: auto;
}

#modular-drawer .elements {
  padding: 0.75rem;
}

#modular-drawer .close-button {
  outline: 0px solid transparent;
  outline-offset: 2px;
}

#modular-drawer .close-button:focus {
  outline: 0px solid transparent;
  outline-offset: 2px;
}

#modular-drawer .buttons-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.75rem;
}

#modular-drawer .element {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem /* 12px */;
  margin-left: 0.5rem /* 8px */;
  margin-right: 0.5rem /* 8px */;
}

#modular-drawer .element .button {
  display: flex;
  flex-direction: row;
}

#modular-drawer .element .button .icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#modular-drawer .element .button .text {
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#modular-drawer .element .button .active {
  color: rgba(217, 119, 6, 1);
  cursor: default;
}

#modular-drawer .element .button .inactive {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#modular-drawer .element .button .inactive:hover {
  color: rgba(96, 165, 250, 1);
}

#modular-drawer .container-internal {
  display: flex;
  flex-direction: column;
}

#modular-drawer.ease-in {
  transition-timing-function: ease-in;

  /* Quick on the way out */
  transition: 0.2s;

  /* Hide thing by pushing it outside by default */
  transform: translateX(0%);
}

#modular-drawer.ease-out {
  transition-timing-function: ease-out;

  /* Quick on the way out */
  transition: 0.2s;

  /* Hide thing by pushing it outside by default */
  transform: translateX(-100%);
}
