#modular-button {
  --button-text-color: rgb(63, 62, 62);
  --button-background-color: rgb(226, 228, 229);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#modular-button .unstyled {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#modular-button .unstyled:focus,
#modular-button .unstyled:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#modular-button .enabled {
  transition-duration: 0.1s;
  transition-property: transform;
}

#modular-button .disabled {
  opacity: 0.5;
}

#modular-button .enabled:hover {
  position: relative;
  transform: scaleX(1.15) scaleY(1.1);
  --button-text-color: #ffff;
}

#modular-button .styled.enabled:hover {
  --button-background-color: rgb(115, 115, 116);
}

#modular-button.dark .styled.enabled:hover {
  --button-background-color: rgb(61, 61, 75);
}

#modular-button .styled {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-align: center;
  font-weight: 800;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#modular-button.dark .styled {
  --button-background-color: rgba(75, 85, 99, 1);
  --button-text-color: rgba(255, 255, 255, 1);
}

#modular-button .styled:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
