.standard #modular-codebox {
  color: rgb(50, 56, 65);
  background-color: rgba(209, 213, 219, 1);
  overflow: hidden;
  margin: 0.25rem;
  padding: 0.5rem;
}

.dark #modular-codebox {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 42, 53);
  overflow: hidden;
  margin: 0.25rem;
  padding: 0.5rem;
}

#modular-codebox .copy-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#modular-codebox .code {
  margin-top: 0.7rem;
  padding: 1rem;
}

@media (max-width: 1024px) {
  #modular-codebox .code {
    overflow: auto;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1024px) {
  #modular-codebox .code {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
