#modular-checkbox {
  border-width: 1px;
  border-color: #423c5e;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 30px;
  padding: 0.2rem;
  background-color: var(--modular-background-color);
}

#modular-checkbox:hover {
  background-color: #f5f5f5;
}

#modular-checkbox.dark:hover {
  background-color: #3a3552;
}
