#modular-checkbox.check {
  border-width: 1px;
  border-color: #423c5e;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 30px;
  padding: 0.2rem;
  --checkbox-background: #ffffff;
  background-color: var(--checkbox-background);
}

#modular-checkbox.check {
  --checkbox-background: #ffffff;
}

#modular-checkbox.check.dark {
  --checkbox-background: #423c5e;
}

#modular-checkbox.check:hover {
  --checkbox-background: #f5f5f5;
}

#modular-checkbox.check.dark:hover {
  --checkbox-background: #3a3552;
}

#modular-checkbox.check.dark svg {
  --svgcolor: white;
}

#modular-checkbox.check svg {
  --svgcolor: blue;
}

#modular-checkbox,
#modular-checkbox:hover,
#modular-checkbox:active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
