#modular-header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 10;
  margin-bottom: 1.25rem;
  text-align: center;
  background-image: var(--modular-background);
  color: var(--modular-text-color);
  border-bottom-width: 2px;
}

#modular-header.dark {
  background-image: linear-gradient(to right, #212935, #364157, #212935);
  border-bottom-width: 2px;
}
